/* ceate card for the movie display */
/* update todo
    create text space to show correct data with write format
    may create modal on click modal - esc or out click to exit  */

.smallPost {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  min-width: 17em;
  max-width: 17em;
  min-height: 32em;
  max-height: 32em;
  /* height: 20.5rem; */
  background: #ffffff;
  border-radius: 1em;
  border: 2px solid black;
  overflow: hidden;
  margin: 1.5em;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 200ms ease-in-out;

  cursor: pointer;
}

.smallPost:hover{
  transform: scale(1.05);
}

.smallPost .bolt {
  font-weight: 900;
}

.imageCointainer {
  min-width: 200px;
  min-height: 300px;
  max-height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageCointainer .ImageItself {
  width: 100%;
  height: 350px;
}


/* text data */
.textConintainer {
  flex-grow:1;
  padding: 0.3em 0.2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textConintainer .heading {
  font-size: 1.5em;
  font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI";

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10.5em;
  padding: 0 0.2em;
}

.textConintainer .content {
  flex-grow: 0;
  font-size: 1.2em;
  font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-weight: 400;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.baseline{
  display: flex;
  justify-content: space-between;
  padding: 0 0.9em;
}

.moreintext{
  text-align: end;
}



.displayNone{
  display: none;
}